.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurant {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.SingleRestaurant {
  margin: 5px;
  border: 0.5px solid black;
}
