.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: flex;
  flex-direction: column;
  align-items: center;
}

.restaurant {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: minmax(100px, auto);
}

.RestaurantHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.SingleRestaurant {
  border: 0.2px solid black;
  padding: 5px;
}

.info {
  position: flex;
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
